header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

header h1, p {
   text-align: center;
}

section {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
}