
:root {
  --gradient-background: linear-gradient(
    180deg,
    rgba(232, 102, 236, 0.3) 0%,
    rgba(232, 102, 236, 0.6) 100%
  );
}

* {
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #3d3d3d;
}

header {
  margin-bottom: auto;
  text-align: center;
  padding-bottom: 1rem;
}

header h1,
footer h3,
.card-header,
.card-subtext {
  color: hotpink;
}
header h1 {
  font-size: 2.5rem
}

header p {
  color: white;
  text-align: center;
  font-size: 1rem;
}

footer {
  margin-top: auto;
  text-align: center;
}

.code-snippets {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.card {
  height: 400px;
  width: 400px;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 3px dashed white;
}

article {
  height: 200px;
  color: white;
  background: var(--gradient-background);
  border-radius: 5px;
  padding: 1rem;
  line-height: 1.5rem;
}

.card-subtext {
  display: flex;
  flex-direction: column;;
  justify-content: center;
}

.card:hover,
.card:hover .card-header {
  box-shadow: inset 0px 0px 8px rgba(232, 102, 236, 1),
    0 0 15px rgba(232, 102, 236, 1);
}

.card-header {
  position: relative;
  margin-top: -2.9rem;
  background-color: #3d3d3d;
  border-radius: 5px;
  border: 3px solid white;
  padding: 0.5rem;
}
